<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mat Class | form</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Inter:wght@200;300;400;500;700&family=Red+Hat+Display:wght@300;400;500;600;800&family=Imprima&family=Vina+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="icon" href="/css/images/fevicon.png" type="image/gif" />

</head>

<body>
    <main>
        <div class="square1"></div>
        <div class="square2"></div>

        <section class="all">
            <div class="sections" id="slider">
                <section class="login">
                    <div class="imagem">
                        <img src="https://s2-g1.glbimg.com/zHa_ICIHQRr7gSt_zACtDWxK5tM=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2022/F/P/S59W31QZuPsmVI1vAmMg/estudantes-ebc.jpg" alt="">
                    </div>
                    <a href="/index.html" class="logo"><img src="/css/images/logo.png" alt=""></a>
                    <form action="#" id="start">
                        <h1>Começe <span>seu formulário</span></h1>
                        <div>
                            <label for="nome" autocomplete="off">Seu nome</label>
                            <input type="text" name="nome">                
                        </div>
                        <div>
                            <label for="escola" autocomplete="off">Sua escola</label>
                            <input type="text" name="escola">
                        </div>
                        <button type="button" class="nex">Começar !</button>
                    </form>
                </section>
                
                <section class="first-page page">
                    <h1>Página 1</h1>
                    <button type="button" class="prev">Pagina anterior</button>
                    <form action="#" method="post" id="question1">
                        <div class="quest">
                            <h2>Questão 1</h2>
                            <img src="" alt="">
                            
                            <div class="alternatives">
                                <div>
                                    <input type="radio" id="quest1" name="qt1" value="1">
                                    <label for="quest1"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest2" name="qt1" value="2">
                                    <label for="quest2"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest3" name="qt1" value="3">
                                    <label for="quest3"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest4" name="qt1" value="4">
                                    <label for="quest4"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest5" name="qt1" value="5">
                                <label for="quest5"></label>
                                </div>
                            </div>
                        </div>
                        <div class="quest">
                            <h2>Questão 2</h2>
                            <img src="" alt="">   
                            <div>                             
                                <div class="alternatives">
                                    <div>
                                        <input type="radio" id="quest1" name="qt2" value="1">
                                        <label for="quest1"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest2" name="qt2" value="2">
                                        <label for="quest2"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest3" name="qt2" value="3">
                                        <label for="quest3"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest4" name="qt2" value="4">
                                        <label for="quest4"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest5" name="qt2" value="5">
                                    <label for="quest5"></label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="nex">Proxima Página</button>
                        </div>
                    </form>
                </section>

                <section class="second-page page">
                    <h1>Página 2</h1>
                    <button type="button" class="prev">Pagina anterior</button>
                    <form action="#" method="post" id="question2">
                        <div class="quest">
                            <h2>Questão 3</h2> 
                            <img src="" alt="">                         
                            <div class="alternatives">
                                <div>
                                    <input type="radio" id="quest1" name="qt3" value="1">
                                    <label for="quest1"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest2" name="qt3" value="2">
                                    <label for="quest2"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest3" name="qt3" value="3">
                                    <label for="quest3"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest4" name="qt3" value="4">
                                    <label for="quest4"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest5" name="qt3" value="5">
                                <label for="quest5"></label>
                                </div>
                            </div>
                        </div>
                        <div class="quest">
                            <h2>Questão 4</h2>
                            <img src="" alt="">  
                            <div>                             
                                <div class="alternatives">
                                    <div>
                                        <input type="radio" id="quest1" name="qt4" value="1">
                                        <label for="quest1"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest2" name="qt4" value="2">
                                        <label for="quest2"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest3" name="qt4" value="3">
                                        <label for="quest3"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest4" name="qt4" value="4">
                                        <label for="quest4"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest5" name="qt4" value="5">
                                    <label for="quest5"></label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="nex">Proxima Página</button>
                        </div>
                    </form>
                </section>
                <section class="third-page page">
                    <h1>Página 3</h1>
                    <button type="button" class="prev">Pagina anterior</button>
                    <form action="#" method="post" id="question3">
                        <div class="quest">
                            <h2>Questão 5</h2>      
                            <img src="" alt="">                     
                            <div class="alternatives">
                                <div>
                                    <input type="radio" id="quest1" name="qt5" value="1">
                                    <label for="quest1"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest2" name="qt5" value="2">
                                    <label for="quest2"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest3" name="qt5" value="3">
                                    <label for="quest3"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest4" name="qt5" value="4">
                                    <label for="quest4"></label>
                                </div>
                                <div>
                                    <input type="radio" id="quest5" name="qt5" value="5">
                                <label for="quest5"></label>
                                </div>
                            </div>
                        </div>
                        <div class="quest">
                            <h2>Questão 6</h2> 
                            <img src="" alt="">
                            <div>                              
                                <div class="alternatives">
                                    <div>
                                        <input type="radio" id="quest1" name="qt6" value="1">
                                        <label for="quest1"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest2" name="qt6" value="2">
                                        <label for="quest2"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest3" name="qt6" value="3">
                                        <label for="quest3"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest4" name="qt6" value="4">
                                        <label for="quest4"></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="quest5" name="qt6" value="5">
                                    <label for="quest5"></label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="nex" id="final">Finalizar !</button>
                        </div>
                    </form>
                </section>
                <section class="result">
                    <input type="hidden" id="ss">
                    <div class="text">
                        <h1>
                            Seu Resultado
                        </h1>
                        <p>
                            Segue abaixo as informações sobre seu acerto do questionário.
                        </p>
                        <div id="user">
                            <h2>Nome</h2>
                            <h3>Escola</h3>
                        </div>

                        <div id="points">
                            <h4>0/0</h4>
                            <h4>0%</h4>
                        </div>
                        <h2 id="mensagem">Que pena, tente outra vez com mais calma</h2>

                        <button id="view-wrong">
                            Questões Erradas
                        </button>
                    </div>
                    <div class="background">
                        <img src="/css/images/formsFinal.jpg" alt="">
                    </div>
                    <div class="wrong" id="wrong-container">
                        <h1>
                            Questões erradas - 
                        </h1>
                        <button id="close-wrong">
                            Fechar Aba
                        </button>
                        <div id="wrong">

                        </div>
                    </div>
                    <a href="/index.html">Voltar para Início</a>
                </section>
            </div>
        </section>
    </main>
</body>
<script src="/js/form.js"></script>
</html>